body,
#svelte {
	@apply w-screen h-screen m-0;
}

img {
	max-width: none;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}